* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}
.main-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
}

.form-container {
  background-color: #e9c1af;
  padding: 2.5rem;
}

.book-details-container {
  background-color: #f7f1f0;
}

@media (max-width: 1000px) {
  .main-container {
    grid-template-columns: 1fr;
    height: 100dvh;
  }
}

.logo {
  display: flex;
  text-align: center;
  justify-content: center;
}
.logo P {
  font-weight: 700;
  font-size: 2.5rem;
  color: #1f3e59;
}

.new-book-form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

form input,
form select,
form button {
  padding: 0.5rem;
  margin: 0.8rem;
  outline: none;
  background-color: transparent;
  border: 2px solid #000;
}

.add-book-button {
  height: 2.5rem;
  background-color: #1f3e59;
  border-radius: 5px;
  color: #f7f1f0;
  transition: transform 0.3s ease-in-out;
}

.add-book-button:hover {
  cursor: pointer;
  transform: scale(1.01);
  background-color: #264b6c;
  color: #f7f1f0;
}

::placeholder {
  color: #1f3e59;
}

.detail-one,
.detail-two-elements,
.detail-three-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.detail-one {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3dvw;
  margin: 5dvw;
  padding: clamp(0.8rem, 1.5dvw, 1.5rem);
  background-color: #1f3e59;
  border-radius: 5px;
  color: #f7f1f0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(0.6rem, 1.5dvw, 1.5rem);
  white-space: nowrap;
}

.detail-one #delete-all {
  background-color: #b82c2c;
  padding: 0.4rem;
  border-radius: 2px;
  color: #f7f1f0;
  font-size: 1.5dvw;
  transition: background-color 0.3s ease-in-out;
}
.detail-one #delete-all:hover {
  background-color: #cf3131;
}

.book-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2dvw 5dvw;
  padding: clamp(0.4rem, 1.2dvw, 1.2rem);
  color: #1f3e59;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(0.6rem, 1.5dvw, 1.5rem);
  border: 2px solid #1f3e59;
  gap: 4px;
}

.book-details > * {
  width: 18dvw;
  word-wrap: break-word;
}
