* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}
.main-container {
  display: grid;
  grid-template-columns: auto auto;
  height: 100vh;
}

.form-container {
  background-color: #e9c1af;
  padding: 2.5rem;
}

.book-details-container {
  background-color: #f7f1f0;
}

.logo {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0.8rem 0 2.5rem 0;
}
.logo P {
  font-weight: 700;
  font-size: 46px;
  margin-left: 10px;
  color: #1f3e59;
}

.new-book-form {
  display: flex;
  flex-direction: column;
}

input,
select,
button {
  margin: 0.8rem;
}

form button {
  height: 2rem;
  background-color: #1f3e59;
  border-radius: 5px;
  color: #f7f1f0;
}

::placeholder {
  color: #1f3e59;
}

.detail-one {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 60px 20px 20px 20px;
}

.detail-one button {
  background-color: #d05050;
  height: 55px;
  width: 150px;
  margin-top: -15px;
  border-radius: 2px;
}
.detail-two-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 75%;
  height: 75px;
  margin: 0 auto 20px auto; /* Center horizontally on the page */
  background-color: #1f3e59;
  color: #f7f1f0;
  padding: 0px 10px 0 10px;
}

.detail-two-elements {
  display: flex;
  gap: 0.5rem;
}

.detail-three-elements {
  display: flex;
  justify-content: center;
}

.book-title-data-script {
  margin: 20px 20px 20px 0px;
}
.book-status-data-script {
  width: 80px;
  background-color: #d05050;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  margin: 20px 20px 20px 0px;
}
